main {
  width: 1440px;
}

.container {
  width: 1440px;
  display: flex;
  margin-left: 64px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  overflow-y: hidden;
  z-index: 1000;
}

.catalog {
  padding-left: 64px;
  flex-grow: 1;
}
