.bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 0.5) 25%,
    rgba(247, 149, 48, 0.5) 92%
  );
}

.txt {
  font-size: 24px;
  font-weight: 500;
}

.img {
  margin: 36px;
  width: 250px;
}
